.Modal-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .Modal-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 2px;
    border: none;
    font-family: 'Montserrat';
  }
  
  .Modal-button--add {
    background: #61DAFA;
    /* box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5); */
  }

  .Modal-button--add:hover {
    /* background: #61DAFA; */
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  }

  .Modal-button--add.disabled {
    background: #eeeeee;
    box-shadow: none;
    color: #b8b8b8;
  }
  
  /* .Modal-button--cancel {
    background: transparent;
    border: 1px solid #838383;
    color: #838383;
  } */