.modal-container {
    width: 90%;
    max-width: 300px;
    background-color: var(--background-color);
    padding: 40px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.modal-background {
    background-color: rgba(32,35,41,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-main{
    min-height: 150px;
    width: 100%;
}

.modal-main > *{
    margin-bottom: 24px;
}

.modal-container .title{
    margin-top: 0;
    color: var(--color-text);
}
.modal-container .subtitle{
    margin-bottom: 12px;
    color: var(--color-text);
}


.coverscreen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    z-index: 1;
}