body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}


.container{
  max-width: 1200px;
  width: 80%;
  margin: auto;
}


.color-theme{
  color: red;
}


:root {
  --color-primary: rgb(190, 190, 190);
}

.color-red{
  --color-primary: rgb(206, 5, 5);
}

.color-blue{
  --color-primary: rgb(0, 42, 156);
}

.color-yellow{
  --color-primary: rgb(214, 214, 0);
}

.color-pink{
  --color-primary: rgb(235, 136, 152);
}

.color-green{
  --color-primary: rgb(67, 182, 0);
}

.color-primary{
  color: var(--color-primary);
}

.background-primary{
  background-color: var(--color-primary);
  color: white;
}