body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}


.container{
  max-width: 1200px;
  width: 80%;
  margin: auto;
}


.color-theme{
  color: red;
}


:root {
  --color-primary: red;
}

.color-red{
  --color-primary: red;
}

.color-blue{
  --color-primary: blue;
}

.color-yellow{
  --color-primary: yellow;
}

.color-pink{
  --color-primary: pink;
}

.color-green{
  --color-primary: green;
}

.color-primary{
  color: var(--color-primary);
}

.background-primary{
  background-color: var(--color-primary);
}